*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.card1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    margin: 10px;
}
.header{
    margin-top: 100px;
}